table {
    background-color: #2b3e50;
    width: 200px;
    height: 200px;
     border-collapse: collapse;
}
.big {
    float: left;
}
td {
    border: 2px solid white;
    color: white;
    text-align: right;
    vertical-align: bottom;
}
